.leftBarContainer {
  width: 150px;
  height: calc(100vh - 125px);
  padding: 1px;
  background-color: coral;
}

.sectionLabel {
  margin-top: 5px;
  font-weight: normal;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.sectionLabel:hover {
  background-color: black;
}

.sectionLabelMark {
  margin-top: 5px;
  font-weight: normal;
  color: white;
  padding: 10px;
  background-color: black;
}
